@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
body{
    height: 100vh;
    background: rgba(255, 255, 255, 0.466);
}
.container{
    background-color: #ffffff;
    padding: 35px 50px;
    width: 70%;
    min-width: 420px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
}
h1{
    font-size: 30px;
    text-align: center;
    color: #2a2185;

}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 14px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: black;
    font-size: 14px;
}
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #16a085;
}
button{
    border: none;
    padding: 10px 20px;
    background-color: #16a085;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.btn{
    display: inline-flexbox;
    background-color: #2a2185;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
}
