@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
body{
    height: 100vh;
    background: rgba(255, 255, 255, 0.466);
}
.container{
    background-color: #ffffff;
    padding: 35px 50px;
    width: 95%;
    min-width: 420px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
}
h1{
    font-size: 30px;
    text-align: center;
    color: #000080;

}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 14px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: black;
    font-size: 14px;
}
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #000080;
}
button{
    border: none;
    padding: 10px 20px;
    background-color: #000080;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.sbtn{
    display: inline-flexbox;
    background-color: #000080;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
}
.sbtn:hover{
    background: #000000;
}

.cardBox{
    position: relative;
    width: 100%;
    padding: 30px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-top: -10px;
}

.cardBox .card{
    position: relative;
    background: #fff;
    padding: 28px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
}

.cardBox .card .cardName {
    color: #999;
    font-size: 1.5rem;
    margin-top: 5px;
}
.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: #999;
}

.cardBox .card:hover{
    background: #2a2185;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx{
    color: #fff;
}


.container{
    max-width: 1200px;
    padding: 0.5rem;
    margin: 0 auto;
}

.product-display{
    margin: 2.5rem 0;
}

.product-display .product-display-table{
    width: 100%;
}

.product-display .product-display-table thead{
    font-size: 1.5rem;
    background: #000080;
}
.product-display .product-display-table thead tr{
    color: #ffffff;
}

.product-display .product-display-table td{
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    
}
.product-display .product-display-table tr{
    color: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-display .product-display-table .btn:first-child{
    margin-top: 0;
}

.product-display .product-display-table .btn:last-child{
    background: #000080;
}

.product-display .product-display-table .btn:last-child:hover{
    background: #ff0000;
}

.product-display .product-display-table .btn:first-child:hover{
    background: #000000;
}
.btn{
    display: inline;
    background-color: #000080;
    cursor: pointer;
    color: #ffffff;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.2rem 1.2rem;
    background: #000080;
    font-weight: bold;
    width: 100%;
    text-align: center;
    right: 50px;
    margin-left: 5px;
    border-radius: 0.5rem;
}

.btns :hover{
    background: #ffffff;
}

