*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container{
    width: 100%;
    height: 90px;
    background:linear-gradient(to right,#004cff, #00c4fc, #00bdfa, #00b5f7,  #00adf5, #00a6f2, #009ef0, #0096ed, #008feb,  #0087e8, #0080e6, #0078e3, #0070e0, #0069de, #0061db,  #0059d9, #0052d6);
}

/*NavBar*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px
}
nav{
    flex:1;
    align-items: center;   
}
nav ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: 20px;
    
}
ul li a:hover{
    background-color:#38007d;   
}
li a{
    color: white;
    text-decoration: none;
}
li.rightcorner{
  float: right;
}

/*Poster*/

.poster{
    background-image:url(../Image/gentssection.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 280px 150px 200px;
    width: 100%;
    height: 90%;
}

.poster h1{
    font-size: 100px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: geogia,serif;
}
