*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container {
    width: 100%;
    height: 90px;
    background: linear-gradient(to right, #004cff, #00c4fc, #00bdfa, #00b5f7, #00adf5, #00a6f2, #009ef0, #0096ed, #008feb, #0087e8, #0080e6, #0078e3, #0070e0, #0069de, #0061db, #0059d9, #0052d6);
}

/* Poster */

.poster {
    background-image: url(../Image/ladiesmain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 280px 150px 200px;
    width: 100%;
    height: 90%;
}

/* Ladies */

.ladies {
    width: 100%;
    padding: 50px 0;
}

/* Casual outfits */

.ladies .lady h2 {
    margin: 10px;
    margin-left: 50px;
}

.ladies .lady_box {
    width: 95%;
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 10px;
}

.ladies .lady_box .lady_card {
    width: 275px;
    height: 420px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ladies .lady_box .lady_card .lady_image {
    width: 250px;
    height: 215px;
    margin: 0 auto 6px;
    overflow: hidden;
}

.ladies .lady_box .lady_card .lady_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.ladies .lady_box .lady_card .lady_info {
    padding: 0 20px; /* Changed from auto 1000px */
}

.ladies .lady_box .lady_card .lady_info p {
    width: 100%; /* Changed from 60% */
    text-align: center;
    margin: 0 auto;
    font-size: 23px;  
}

.ladies .lady_box .lady_card .lady_info h3 {
    width: 100%; /* Changed from 60% */
    text-align: center;
    margin: 0 auto;
}

.ladies .lady_box .lady_card .lady_info .btn-group {
    padding: 20px;
}

.ladies .lady_box .lady_card .lady_info .btn-group .cart_btn,
.ladies .lady_box .lady_card .lady_info .btn-group .order_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 5px;
    margin: 5px auto; /* Changed from 5px 70px */
    transition: 0.3s;
    font-size: 15px;
}
