
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2024, 9:53:49 PM
    Author     : wiman
*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
.container{
    width: 100%;
    height: 90px;
    background:linear-gradient(to right,#004cff, #00c4fc, #00bdfa, #00b5f7,  #00adf5, #00a6f2, #009ef0, #0096ed, #008feb,  #0087e8, #0080e6, #0078e3, #0070e0, #0069de, #0061db,  #0059d9, #0052d6);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    align-items: center;   
}
nav ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    font-size: 20px;
    
}
ul li a:hover{
    color:black;   
    font-weight: bold;
}
li a{
    color: white;
    text-decoration: none;
}
li.rightcorner{
  float: right;
}
h1{
    margin-top: 0;
    font-size: 75px;
    text-align: center;
}

tr{
    column-width: 70px;
    font-size: 120%;
}
th{
    padding-left: 260px;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}
table{   
    width: 100%;
    display: block
}
th,td{  
    height:60px;
}

.payment img{
    width:150px;
    height: 80px;
    margin-right: 6px;
    margin-left: 10px;
}
.payment{
    float: right;
}
.footer{
   margin-bottom: 0; 
}

.footer footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 8px ;
    height: 150px;
    background:linear-gradient(to right,#004cff, #00c4fc, #00bdfa, #00b5f7,  #00adf5, #00a6f2, #009ef0, #0096ed, #008feb,  #0087e8, #0080e6, #0078e3, #0070e0, #0069de, #0061db,  #0059d9, #0052d6);
}
h4{
    font-size: 20px;
    margin:10px;
}
.contactnumber{
    padding:35px;
    font-size: 18px;
    margin-left: 0;
}
.myemail{
    font-size: 18px;
    padding: 35px;
    margin-left: 0;
    text-decoration: none;
    color: black;
}
.myemail:hover{
    color:#2800ff;
}
.place{
    font-size: 18px;
    padding: 35px;
    margin-left: 0;
}






